<div  fxLayout="column" fxLayoutGap="4%" fxFlex="80%" class="whatitis">
<mat-card>
  <div fxLayout="row" fxLayoutAlign="center center">
  <mat-card-title class="title">What It Is?</mat-card-title>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
  <img mat-card-image fxFlex="30%"  src = "./assets/images/raw1.png">
  </div>
 <span fxLayout="row" class="mat-body what_content">
   If you are a part of an Organisation/Institution where there are some meetingRooms,conferenceHalls,
   etc then it's always a headache to book them or schedule them without any communication gap.If you
   are the one facing this problem than this is the place for you. 
 </span>
</mat-card>
</div>