.header{
    width: 100%;
}
.links li{
    display: inline-block;
    padding: 4%;
    margin-right: 10px;
}
.links li a{
    color: white;
    text-decoration: none;
    font-size: .7em;
}
.links{
    list-style: none;
}
.links li a:hover{
    color: burlywood;
}

.occupySpace {
    flex: 1 1 auto;
}