<mat-sidenav-container fullscreen>
  <app-header></app-header> 
  <form fxFlex="40%" fxLayout="column" fxFlexOffset="30%"  [formGroup]="myForm" (ngSubmit)="orgRegister()">
    <mat-form-field>
    <input matInput name="org" id="org" type="text" placeholder="Organisation/Institute Name" formControlName="org">
    <div *ngIf="myForm.get('org').touched && myForm.get('org').errors">
    <mat-error *ngIf="myForm.get('org').errors.orgTaken;else secErr" class="error-message">
      This organisation name is already registered with us
    </mat-error>
    <ng-template #secErr>
      <mat-error class="error-message">Organisation name should have at least 2 characters</mat-error>
    </ng-template>
    </div> 
    </mat-form-field>
    <br>
    <mat-form-field>
    <input matInput  name="name" id="name" type="text" placeholder="Your Full Name" formControlName="name">
    <div *ngIf="myForm.get('name').touched && myForm.get('name').errors">
    <mat-error class="error-message">
      Name should at least have 3 characters
    </mat-error>
    </div>   
    </mat-form-field>
    <br>
    <mat-form-field>
    <input matInput name="email" id="email" type="email" placeholder="Email ID" formControlName="email">
    <div *ngIf="myForm.get('email').touched && myForm.get('email').errors">
    <mat-error class="error-message">
      Email is not valid
    </mat-error>
    </div>    
    </mat-form-field>
    <br>
    <mat-form-field>
    <input matInput name="password" id="password" type="password" placeholder="Set Password" formControlName="password">
    <div *ngIf="myForm.get('password').touched && myForm.get('password').errors">
    <mat-error class="error-message">
      Too short
    </mat-error>
    </div>    
    </mat-form-field>
    <br>
    <mat-form-field>
    <input matInput name="cnfrmpass" id="cnfrmpass" type="password" placeholder="Confirm The Password" formControlName="cnfrmpass">
    <div *ngIf="myForm.get('cnfrmpass').touched && myForm.get('cnfrmpass').errors">
    <mat-error class="error-message">
      Should be same as password
    </mat-error>
    </div> 
    </mat-form-field>
    <br>
    <button  mat-stroked-button color="primary" [disabled]="myForm.invalid || myForm.pending">
      Submit
    </button>
  </form>	
  </mat-sidenav-container>