<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
<div class="commonMsg">
  <div *ngIf="resStatus === 200; else errBlock">
    <div class="successMsg">
    {{resMessage}}
    </div>
  </div>
  <ng-template #errBlock>
    <div class="errorMsg" *ngIf="resStatus === 400 || resStatus === 500">
    {{resMessage}}
    </div>
  </ng-template>
</div>
<form #f="ngForm" (ngSubmit)="change(f.value)">
    <div class="form-group">
    <mat-form-field>
    <input matInput #passOld="ngModel" [(ngModel)]="pass1" name="pass1" id="pass1" type="password" placeholder="Current Password" class="form-control" required>  
    </mat-form-field>
    </div>
    <div class="form-group">
    <mat-form-field>
    <input matInput #passNew="ngModel" [(ngModel)]="pass2" name="pass2" id="pass2" type="password" placeholder="New Password" class="form-control" required minlength="5" maxlength="50">  
    <div *ngIf="passNew.touched && passNew.invalid">
      <mat-error *ngIf="passNew.errors.required; else lenErr">This is required.</mat-error>
      <ng-template #lenErr><mat-error>Password length should be between 5 to 50 characters</mat-error></ng-template>
    </div>
    </mat-form-field>
    </div>
    <div class="form-group">
    <mat-form-field>
    <input matInput #passCnfrm="ngModel" [(ngModel)]="pass3" name="pass3" id="pass3" type="password" placeholder="Confirm New Password" class="form-control" required minlength="5" maxlength="50">  
    <div *ngIf="passCnfrm.touched && passCnfrm.invalid">
      <mat-error *ngIf="passCnfrm.errors.required; else lenErr">This is required.</mat-error>
      <ng-template #lenErr><mat-error>Password length should be between 5 to 50 characters</mat-error></ng-template>
    </div>
    </mat-form-field>
    </div>
    <button mat-stroked-button color="accent"  [disabled]="!f.valid">Change</button>
    <br>
    <img *ngIf="showLoader" width="50px" src ="./assets/images/loader.gif" class="loader"/>
</form>
<br>
</mat-dialog-content>
<mat-dialog-actions>
  <div>
  <button (click)="close()" mat-stroked-button color="primary">Close</button>
  </div>
</mat-dialog-actions>