<h2 mat-dialog-title>Rooms</h2>
<mat-dialog-content>
  <p> Rooms List: </p>
  <img *ngIf="showLoader" width="50px" src ="./assets/images/loader.gif" class="loader"/>
    <div *ngIf="resStatus !== 200; else listBlock">
      <div class="errorMsg">
      {{resMessage}}
      </div>
    </div>
    <ng-template #listBlock>
        <mat-card  fxFlex="100%" fxLayout="column">
        <form #f="ngForm">
         <div *ngFor="let roomItem of allRooms" fxLayout="row">
            <div fxLayout="column" fxFlex="80%"> 
            <label>
                <input type="radio" [(ngModel)]="selectedRoom" name="room" [value]="roomItem.id"> 
                {{ roomItem.name }}
            </label>
            </div>
            <div class="deleteLink" fxLayout="column" fxFlex="20%" *ngIf="basicApi.getUserRole !== 'looker'">
                    <button mat-stroked-button [mat-dialog-close]="'delete'+roomItem.id" color="primary"><mat-icon>delete</mat-icon></button>
            </div>
         </div>
              <mat-divider></mat-divider> 
              <br>
            <button mat-stroked-button [mat-dialog-close]="f.value.room" color="primary">OK</button>
        </form>
        </mat-card>
    </ng-template>
    <br>
</mat-dialog-content>
<mat-dialog-actions>
<div *ngIf="basicApi.getUserRole !== 'looker'">
    <button  mat-mini-fab color="primary" (click)="openDialog()">
        +
    </button>
</div>
</mat-dialog-actions>