<mat-sidenav-container fullscreen>
    <app-header></app-header> 
    <div class="commonMsg" fxFlex="40%" fxLayout="column" fxFlexOffset="30%">
      <div *ngIf="resStatus === 200; else errBlock">
        <div class="successMsg">
        {{resMessage}}
        </div>
      </div>
      <ng-template #errBlock>
        <div class="errorMsg" *ngIf="resStatus === 400 || resStatus === 500">
        {{resMessage}}
        </div>
      </ng-template>
    </div>
    <form fxFlex="40%" fxLayout="column" fxFlexOffset="30%" [formGroup]="myForm" (ngSubmit)="signUp()">
      <mat-form-field>
      <input matInput name="org" id="org" type="text" placeholder="Organisation/Institute Name" formControlName="org">
      <div *ngIf="myForm.get('org').touched && myForm.get('org').errors">
        <mat-error class="error-message">Organisation name should have at least 2 characters</mat-error>
      </div>       
      </mat-form-field>
      <br>
      <mat-form-field>
      <input matInput name="name" id="name" type="text" placeholder="Your Full Name" formControlName="name">
      <div *ngIf="myForm.get('name').touched && myForm.get('name').errors">
      <mat-error class="error-message">
        Name should at least have 3 characters
      </mat-error>
      </div> 
      </mat-form-field>
      <br>
      <mat-form-field>
      <input matInput name="email" id="email" type="email" placeholder="Email ID" formControlName="email">
      <div *ngIf="myForm.get('email').touched && myForm.get('email').errors">
      <mat-error *ngIf="myForm.get('email').errors.emailTaken;else secErr" class="error-message">
        This email is already registered with us
      </mat-error>
      <ng-template #secErr>
        <mat-error class="error-message">Invalid email</mat-error>
      </ng-template>
      </div>      
      </mat-form-field>
      <br>
      <mat-form-field>
      <input matInput name="password" id="password" type="password" placeholder="Set Password" formControlName="password">
      <div *ngIf="myForm.get('password').touched && myForm.get('password').errors">
      <mat-error class="error-message">
        Too short
      </mat-error>
      </div>     
      </mat-form-field>
      <br>
      <mat-form-field>
      <input matInput name="cnfrmpass" id="cnfrmpass" type="password" placeholder="Confirm The Password" formControlName="cnfrmpass">
      <div *ngIf="myForm.get('cnfrmpass').touched && myForm.get('cnfrmpass').errors">
      <mat-error class="error-message">
        Should be same as password
      </mat-error>
      </div> 
      </mat-form-field>
      <br>
      <img *ngIf="showLoader" width="50px" src ="./assets/images/loader.gif" class="loader"/>
      <br>
      <button  mat-stroked-button color="primary" [disabled]="myForm.invalid || myForm.pending">
        Submit
      </button>
    </form>	
</mat-sidenav-container>