<div  fxLayout="column" fxLayoutGap="4%" fxFlex="80%" class="howitworks">
    <mat-card>
      <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card-title class="title">How It Works?</mat-card-title>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
      <img mat-card-image fxFlex="30%"  src = "./assets/images/raw1.png">
      </div>
     <span fxLayout="row" class="mat-body how_content">
        Firstly you need to register your organisation with us by visiting the register link.The person
        who registers the organisation becomes administrator.When some user wants to join this organisation 
        he can register in this organisation by signing up.An verification email is sent to all the admins of the organisation.
        After verification user can start using our app.
     </span>
     <h4>Roles-</h4>
     <span>
     There are three roles Admin,Booker,Looker.<br>
     Looker can only see the bookings and can not do the booking.<br>
     Booker can book rooms, add new room, remove a room.<br>
     Admin can do all functionalities of a Booker + he can change roles of users and delete a user.
    </span>
    </mat-card>
</div>
 