<mat-sidenav-container fullscreen>
<app-header></app-header> 

<nav mat-tab-nav-bar fxLayout="row" fxLayoutAlign="center center">
    <a mat-tab-link [routerLink]="['/dashboard']" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">Book</a>
    <a mat-tab-link (click)="openDialog()">Rooms</a>
    <a mat-tab-link [routerLink]="['/settings']" routerLinkActive #rla1="routerLinkActive"
    [active]="rla1.isActive">Settings</a>
</nav>

<div *ngIf="noRoom; else dash">
<h2>No Room Created</h2>
</div>

<ng-template #dash>
<h2>{{selectedRoomName}}</h2>
<div fxShow fxHide.gt-sm fxLayout="column">
<mat-form-field fxFlex="40%" fxLayout="row">
  <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" placeholder="MM/DD/YYYY" (ngModelChange)="onSelectSmall()">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker></mat-datepicker>
</mat-form-field>
<mat-card  fxFlex="100%" fxLayout="column">
  <br>
  <img *ngIf="showLoader" width="50px" src ="./assets/images/loader.gif" class="loader"/>
  <br>
  <div fxLayout="row" class="tableH">
    <div fxFlex="20%" fxLayout="column" align="left">From</div>
    <div fxFlex="20%" fxLayout="column" align="left">To</div>
    <div fxFlex="40%" fxLayout="column" align="left">Posted By</div>
    <div fxFlex="20%" fxLayout="column" align="left">Delete</div>
    </div>
    <br>
    <div fxLayout="row" *ngFor="let booking of selectedRoomDateBooking">
    <div fxFlex="20%" fxLayout="column" class="wrapIt">{{booking?.from}}</div>
    <div fxFlex="20%" fxLayout="column" class="wrapIt">{{booking?.to}}</div>
    <div fxFlex="40%" fxLayout="column" class="wrapIt">{{booking?.by}}</div>
    <div fxFlex="20%" fxLayout="column" (click)=deleteBooking(booking) class="deleteLink"><mat-icon>delete</mat-icon></div>
    </div>
   <br>
</mat-card>
<br>
<mat-card  fxFlex="100%" fxLayout="column">
  New Booking -
  <br>
  <br>
  <form #f="ngForm" (ngSubmit)="newBooking(f.value)">
    <div class="form-group">
    <mat-form-field>
      <input matInput #fromRef="ngModel" [(ngModel)]="from" name="from" id="from" type="time" placeholder="Start Time" class="form-control" required>  
      </mat-form-field>
      &nbsp;
      <mat-form-field>
      <input matInput #toRef="ngModel" [(ngModel)]="to" name="to" id="to" type="time" placeholder="End Time" class="form-control" required>  
    </mat-form-field>
    &nbsp;
    <mat-form-field>
    <textarea matInput #desRef="ngModel" [(ngModel)]="des" name="des" id="des" placeholder="Description" class="form-control"></textarea>
    </mat-form-field>
    </div>
    <button mat-stroked-button color="accent"  [disabled]="!f.valid">Create</button>
    <br>
    <img *ngIf="showLoader2" width="50px" src ="./assets/images/loader.gif" class="loader"/>
  </form>
</mat-card>
</div>

<!--For big screen-->
<div fxHide fxShow.gt-sm fxLayout="row">
<mat-card fxFlex="25%" fxLayout="column">
<mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
</mat-card>
<mat-card fxFlexOffset="10%" fxFlex="65%" fxLayout="column">
  <br>
  <img *ngIf="showLoader" width="50px" src ="./assets/images/loader.gif" class="loader"/>
  <div fxLayout="row" class="tableH">
  <div fxFlex="15%" fxLayout="column" align="left">From</div>
  <div fxFlex="15%" fxLayout="column" align="left">To</div>
  <div fxFlex="30%" fxLayout="column" align="left">Posted By</div>
  <div fxFlex="30%" fxLayout="column" align="left">Description</div>
  <div fxFlex="10%" fxLayout="column" align="left">Delete</div>
  </div>
  <br>
  <div fxLayout="row" *ngFor="let booking of selectedRoomDateBooking">
  <div fxFlex="15%" fxLayout="column" class="wrapIt">{{booking?.from}}</div>
  <div fxFlex="15%" fxLayout="column" class="wrapIt">{{booking?.to}}</div>
  <div fxFlex="30%" fxLayout="column" class="wrapIt">{{booking?.by}}</div>
  <div fxFlex="30%" fxLayout="column" class="wrapIt">{{booking?.description}}</div>
  <div fxFlex="10%" fxLayout="column" (click)=deleteBooking(booking) class="deleteLink"><mat-icon>delete</mat-icon></div>
  </div>
 <br>
  New Booking -
  <form #f="ngForm" (ngSubmit)="newBooking(f.value)">
    <div class="form-group">
    <mat-form-field>
      <input matInput #fromRef="ngModel" [(ngModel)]="from" name="from" id="from" type="time" placeholder="Start Time" class="form-control" required>  
      </mat-form-field>
      &nbsp;
      <mat-form-field>
      <input matInput #toRef="ngModel" [(ngModel)]="to" name="to" id="to" type="time" placeholder="End Time" class="form-control" required>  
    </mat-form-field>
    &nbsp;
    <mat-form-field>
    <textarea matInput #desRef="ngModel" [(ngModel)]="des" name="des" id="des" placeholder="Description" class="form-control"></textarea>
    </mat-form-field>
    </div>
    <button mat-stroked-button color="accent"  [disabled]="!f.valid">Create</button>
    <br><br>
    <img *ngIf="showLoader2" width="50px" src ="./assets/images/loader.gif" class="loader"/>
  </form>
</mat-card>
</div>
</ng-template>
</mat-sidenav-container>